
 <div class="row">
<table style="width: 100%">
  <thead>
    <tr>
      <th>TERMS & CONDITION OF SALE</th>
      <th></th>
    </tr>

  </thead>
  <tbody>
    <tr>
        <td style="width:60%">
            <ol>
                <li>Goods once sold will not be taken back or exchanged</li>
                <li>Seller is not responsible for any loss or damage of goods in transit</li>
              </ol>
        </td>
        <td >
          Authorised Signatory
        </td>
    </tr>
  </tbody>
</table>
</div>