
 <div class="row">
<table style="width: 100%">
  <thead>
    <tr>
      <th>TERMS & CONDITION OF SALE</th>
      <th></th>
    </tr>

  </thead>
  <tbody>
    <tr>
        <td style="width:60%">
            <ol>
                <li>E & OE</li>
                <li>Goods once sold will not be taken back or exchanged</li>
                <li>Seller is not responsible for any loss or damage of goods in transit</li>
                <li>Interest @ 18% p.a. will be charged if the payment is not made with in the stipulated time</li>
              </ol>
        </td>
        <td >
            <div class="row">Reciever Signatory</div>
            <br>
            <div class="row">For sudinam products</div>
          <div class="row">Authorised Signatory</div>
          
        </td>
    </tr>
  </tbody>
</table>
</div>