<a routerLink="/billing">
<div class="card pull-left" >
  <img src="../../img/billing.png"  style="height:300px">
  <div class="container">
    <h4><b>B2C</b></h4> 
  </div>
</div>
</a>
<a routerLink="/stock">
<div class="card pull-right">
  <img src="../../img/box.jpg" style="height:300px">
  <div class="container">
    <h4><b>Stock</b></h4> 
  </div>
</div>
</a>
<a routerLink="/b2b">
  <div class="card pull-left">
    <img src="../../img/b2b.jpg" style="height:250px">
    <div class="container">
      <h4><b>B2B</b></h4> 
    </div>
  </div>
  </a>
       