<div class="row" style="border: 1px solid ">
  <div class="col" *ngIf="address">
    <h5>Name and Adress</h5>{{address}}
    <!-- <p *ngFor="let addr of address">Sudinam products</p>
    <p>S.N. Puram, Vadakkumbad</p>
    <p>PO Ummanchira, Thalassery</p>
    <p>Kannur-670649</p> -->
    <p *ngFor="let addr of address"></p>
  </div>
  <div class="col" style="border-right: 1px solid; border-left: 1px solid"></div>
  <div class="col" style="padding-left: 0px; padding-right: 0px;">
    
    <table >
      <tr>
        <td style="width:30%">Invoice No.</td>
        <td colspan="4">{{invoiceNumber}}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{{date  | date: 'dd/MM/yyyy'}}</td>
      </tr>
      <tr>
        <td>Mode of payment</td>
        <td>{{modeOfPay}}</td>
      </tr>
      <tr>
        <td>PO No.</td>
        <td>{{poNumber}}</td>
      </tr>
      <tr>
        <td>Transport</td>
        <td>{{transport}}</td>
      </tr>
    </table>
  </div>
</div>
